@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --transition-duration: 0.35s;

    --link-height: 60px;
    --border-radius: 30px;
    --image-gap: 5px;
    --image-border-radius: calc(var(--border-radius) - var(--image-gap));

    --color-dark: #3159a1;
    --color-light: #cfe7ff;
    --color-light-hover: #e0f0ff;
    --color-extra-light: #f5f5f5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    margin: 30px;
    overflow-x: hidden;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--color-extra-light);
}
.main h3 {
    font-weight: 200;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    max-width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-header a {
    width: 125px;
    height: 125px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(104, 104, 104, 0.15);
    transition: transform var(--transition-duration);
}

.about-header a:active {
    transform: scale(0.9);
}

.about-header a img {
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transition: transform var(--transition-duration);
}

.about-header a img:hover {
    transform: scale(1.25);
}

.content {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.about-header {
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.about-header h2 {
    font-weight: 900;
    color: var(--color-dark);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.about-header h3 {
    font-size: 15px;
    font-weight: 400;
    margin-top: -20px;
}

.links {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    overflow: hidden;
    text-align: left;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(104, 104, 104, 0.15);
    text-decoration: none;
    transition: background-color var(--transition-duration), transform var(--transition-duration);

    display: flex;
    max-height: var(--link-height);
    margin-bottom: 30px;
    padding-right: var(--border-radius);

    background-color: var(--color-light);

    color: #1b1b1b;
}

.link:hover {
    background-color: var(--color-light-hover);
    transform: scale(1.025);
}

.link:active {
    transform: scale(0.95);
}

.link .image_container {
    padding: var(--image-gap);
    height: var(--link-height);
    width: var(--link-height);

    display: flex;
    align-items: center;
    justify-content: center;
}

.link .image_container img {
    border-radius: var(--image-border-radius);
    max-height: 100%;
    max-width: 100%;
}

.link p {
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    text-transform: uppercase;
    color: var(--color-dark);
    flex: 1;
    text-align: center;
}